.temperatureText{
    font-size: medium;
}
.btn{
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    font-size: larger;
    margin-left: 5px;
}
.inp{
    border-width: 2px;
    border-color: black;
    font-size: larger;
    color: black;
    background: rgba(230, 228, 131, .75);
    text-align: center;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    border-radius: 15px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    color: black;
    font-weight: bolder;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.icon{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: black;
}
.wtype{
    font-size: x-large;
    
}
.cntr{
    background: rgba(226, 243, 250, .75);
    width: 35vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 100px;
    border: 5px solid black
}
.wind{
    
    font-size: medium;
}
.form{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}